@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 62% 8%;
    --card: 0 0% 100%;
    --card-foreground: 222 62% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 62% 8%;
    --primary: 224 76% 22%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 26% 90%;
    --secondary-foreground: 224 76% 22%;
    --muted: 220 26% 95%;
    --muted-foreground: 220 16% 42%;
    --accent: 220 26% 90%;
    --accent-foreground: 224 76% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 88%;
    --input: 220 20% 88%;
    --ring: 224 76% 22%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 62% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 224 62% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 224 76% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 224 50% 13%;
    --secondary-foreground: 210 40% 98%;
    --muted: 224 50% 13%;
    --muted-foreground: 218 20% 60%;
    --accent: 224 50% 13%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 50% 13%;
    --input: 224 50% 13%;
    --ring: 224 76% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
